<% title("Punches") %>
<br>

<div id='water' >
  <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="100%" height="400" viewBox="0, 0, 325, 400">
    <defs>
      <linearGradient id="Gradient_1" gradientUnits="userSpaceOnUse" x1="163" y1="5.5" x2="163" y2="395.5">
        <stop offset="0" stop-color="#FFFFFF" stop-opacity="0"/>
        <stop id="moving-line" offset="<%= 1 - @presenter.drinks_today_percentage_to_goal %>" stop-color="#97CAE2" stop-opacity="0.428"/>
        <stop offset="1" stop-color="#0D84BB"/>
      </linearGradient>
    </defs>
    <g id="Layer_1">
      <g>
        <path id="filler" d="M13,5.5 L54,395.5 L272,395.5 L313,5.5 L13,5.5" fill="url(#Gradient_1)"/>
        <path id="glass-path" d="M13,5.5 L54,395.5 L272,395.5 L313,5.5 L13,5.5" fill-opacity="0" stroke="#0A7D92" stroke-width="6"/>
      </g>
    </g>
  </svg>
  <div id='drink-info'>
    <h2 id='drink-count' style="margin-left: 5%; float:left"><%= @presenter.drinks_today_count %></h2>
    <h3 id='drink-percentage' style="margin-left: 2%; float:left"><%= number_to_percentage(@presenter.drinks_today_percentage_to_goal * 100, precision: 0) %></h3>
    <h3 id='drink-time' style="margin-left: 2%; float:left"><%= @presenter.most_recent_drink_time %></h3>
  </div>
</div>

<div id='veggie'>
  <svg height="400px" id="svg2" version="1.1" viewBox="0 0 50 50" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg">
    <defs id="defs14">
    </defs>
    <metadata id="metadata4">
      <rdf:RDF>
        <cc:Work rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
          <dc:title/>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <% starting_opacity = @presenter.veggies_today_percentage_to_goal.zero? ? 0.2 : @presenter.veggies_today_percentage_to_goal %>
    <path class='tomato' id='stem' d="M24.7,5.65c-2.7,2.23-3.2,5.65-2.2,10.8" fill="none" stroke="#080" opacity="<%= starting_opacity %>" stroke-width="2.5"/>
    <path class='tomato' id='tomato' d="m41.6,16.9c6.71,7.89,3.30,18.5-2.42,23.6-5.73,5.11-16.2,6.50-26.6,1.84-10.4-4.7-13.1-21.3-3.65-27,9.45-5.68,26-6.29,32.6,1.6z" fill="#F00" opacity="<%= starting_opacity %>"/>
    <path class='tomato' id='shine' d="m15.6,15.3c0.683,1.19-1.88,1.16-4.97,4.10-2.95,2.8-2.64,6.7-4.14,6.5-1.50-0.2,0.72-7,2.67-8.5,1.95-1.56,5.80-3.27,6.48-2.08z" fill="#FFF" opacity="<%= starting_opacity %>"/>
  </svg>
  <div id='veggie-info'>
    <h2 id='veggie-count' style="margin-left: 5%; float:left"><%= @presenter.veggies_today_count %></h2>
    <h3 id='veggie-percentage' style="margin-left: 2%; float:left"><%= number_to_percentage(@presenter.veggies_today_percentage_to_goal * 100, precision: 0) %></h3>
    <h3 id='veggie-time' style="margin-left: 2%; float:left"><%= @presenter.most_recent_veggie_time %></h3>
  </div>
</div>

<div id='sweat'>

  <?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="100%" height="150" viewBox="0, 0, 900, 150">
    <g id="sweats">
      <g id='sweat-0'>
        <path d="M72.943,30.626 C68.734,30.626 65.31,34.061 65.31,38.281 C65.31,42.511 68.734,45.924 72.943,45.924 C77.173,45.924 80.618,42.511 80.618,38.281 C80.618,34.061 77.173,30.626 72.943,30.626" fill="#FF2600" opacity='0.2'/>
        <path d="M15.176,83.392 C14.508,82.321 13.13,82.003 12.07,82.671 C10.999,83.328 10.681,84.717 11.349,85.788 C12.006,86.837 13.395,87.145 14.476,86.487 C15.515,85.83 15.844,84.441 15.176,83.392" fill="#FF2600" opacity='0.2'/>
        <path d="M16.743,89.636 C16.075,88.587 14.697,88.269 13.616,88.937 C12.566,89.594 12.248,90.983 12.916,92.032 C13.573,93.103 14.962,93.41 16.012,92.753 C17.072,92.096 17.4,90.707 16.743,89.636" fill="#FF2600" opacity='0.2'/>
        <path d="M18.312,95.902 C17.655,94.831 16.245,94.513 15.196,95.17 C14.114,95.838 13.807,97.227 14.475,98.298 C15.121,99.337 16.542,99.655 17.591,98.997 C18.652,98.34 18.98,96.951 18.312,95.902" fill="#FF2600" opacity='0.2'/>
        <path d="M19.862,102.145 C19.194,101.096 17.816,100.778 16.767,101.414 C15.685,102.103 15.378,103.481 16.035,104.541 C16.692,105.601 18.081,105.92 19.163,105.262 C20.201,104.605 20.53,103.216 19.862,102.145" fill="#FF2600" opacity='0.2'/>
        <path d="M56.585,114.867 C55.387,115.259 54.719,116.531 55.101,117.718 C55.493,118.916 56.776,119.563 57.953,119.192 C59.14,118.81 59.808,117.528 59.437,116.351 C59.044,115.164 57.772,114.506 56.585,114.867" fill="#FF2600" opacity='0.2'/>
        <path d="M63.01,114.921 C61.822,115.281 61.165,116.564 61.547,117.751 C61.928,118.949 63.222,119.606 64.399,119.225 C65.575,118.843 66.243,117.56 65.862,116.384 C65.459,115.196 64.208,114.528 63.01,114.921" fill="#FF2600" opacity='0.2'/>
        <path d="M69.486,114.94 C68.278,115.332 67.61,116.583 68.002,117.792 C68.384,118.968 69.666,119.636 70.854,119.244 C72.031,118.883 72.698,117.601 72.306,116.403 C71.935,115.215 70.663,114.558 69.486,114.94" fill="#FF2600" opacity='0.2'/>
        <path d="M75.9,114.961 C74.723,115.353 74.055,116.625 74.437,117.813 C74.829,118.989 76.112,119.647 77.288,119.265 C78.476,118.883 79.133,117.622 78.751,116.445 C78.359,115.236 77.076,114.59 75.9,114.961" fill="#FF2600" opacity='0.2'/>
        <path d="M91.283,64.53 L77.915,64.53 L71.766,50.61 C71.692,50.387 71.564,50.091 71.49,49.953 C71.469,49.91 71.448,49.889 71.448,49.868 L71.331,49.614 L71.31,49.635 C70.176,47.218 67.78,45.49 64.96,45.373 C64.408,45.352 63.91,45.394 63.401,45.511 L29.816,53.398 C27.791,53.875 26.519,55.879 27.007,57.925 C27.452,59.95 29.456,61.212 31.48,60.756 L53.913,55.423 L36.866,83.528 L24.462,83.528 L24.441,83.528 L18.632,83.528 L22.671,99.408 C22.809,99.875 22.809,99.991 22.968,100.246 C23.529,101.179 24.749,101.476 25.66,100.903 C26.148,100.606 26.477,100.108 26.572,99.589 L28.979,92.231 L29.074,91.924 C29.074,91.924 40.227,91.892 40.301,91.892 C42.538,91.892 44.457,91.267 45.591,89.401 L50.764,80.845 L62.267,92.295 L57.39,111.494 L74.278,111.494 C75.36,111.494 76.25,110.603 76.25,109.543 C76.25,108.695 75.72,108.102 75.073,107.741 L67.78,103.702 L71.278,89.91 C71.278,89.91 72.147,86.994 69.402,84.301 L59.988,74.877 C59.988,74.877 65.013,66.608 68.236,61.296 L71.999,69.799 C72.285,70.477 72.794,71.018 73.388,71.41 C73.388,71.431 73.42,71.431 73.42,71.453 C74.013,71.845 74.724,72.067 75.497,72.067 L91.209,72.067 C93.308,72.089 95.004,70.382 95.025,68.314 C95.036,66.215 93.34,64.551 91.283,64.53" fill="#FF2600" opacity='0.2'/>
      </g>
      <g id='sweat-1'>
        <path d="M182.906,69.057 C182.535,69.82 182.259,70.668 182.121,71.58 C182.058,72.036 182.015,72.492 182.015,72.948 L182.344,93.822 L175.146,109.353 C174.891,109.809 174.711,110.349 174.626,110.901 C174.234,113.466 175.994,115.852 178.559,116.244 C180.542,116.551 182.45,115.544 183.362,113.869 L191.292,96.886 C191.461,96.493 191.599,96.08 191.663,95.624 C191.684,95.401 191.705,95.189 191.705,94.967 L191.642,82.075 L203.833,87.387 L205.794,100.002 C206.187,101.847 207.703,103.31 209.664,103.628 C212.24,103.999 214.615,102.239 215.007,99.695 C215.071,99.26 215.071,98.826 215.028,98.412 L212.632,83.189 C212.335,81.715 211.371,80.453 210.003,79.817 L199.105,74.973 L206.049,62.898 L209.484,67.265 C209.834,67.658 210.289,67.986 210.809,68.198 L223.912,72.025 C225.651,72.396 227.432,71.485 228.121,69.81 C228.884,67.912 227.973,65.749 226.086,64.986 L225.905,64.922 L214.509,61.572 L205.943,51.278 C204.66,49.911 202.943,48.946 200.95,48.628 C197.472,48.109 194.175,49.773 192.426,52.582 L182.906,69.057 z" fill="#FF7000" opacity='0.2'/>
        <path d="M220.509,98.985 L219.682,105.239 L197.133,110.72 L197.345,114.601 L252.345,114.601 C254.295,114.601 255.864,113.021 255.864,111.081 L255.801,36.945 L248.263,35.185 L243.938,54.671 L236.697,57.713 L230.283,75.693 L236.379,89.443 L234.662,94.723 L220.509,98.985 z" fill="#FF7000" opacity='0.2'/>
        <path d="M205.2,47.737 C209.07,47.737 212.218,44.589 212.218,40.719 C212.218,36.85 209.07,33.701 205.2,33.701 C201.331,33.701 198.182,36.85 198.182,40.719 C198.182,44.589 201.331,47.737 205.2,47.737" fill="#FF7000" opacity='0.2'/>
        <path d="M191.228,48.83 C191.769,47.876 191.451,46.636 190.486,46.095 L187.083,44.112 C186.118,43.572 184.888,43.879 184.337,44.855 L173.852,62.93 C173.322,63.884 173.63,65.103 174.605,65.665 L178.019,67.626 C178.973,68.188 180.192,67.86 180.754,66.905 L191.228,48.83 z" fill="#FF7000" opacity='0.2'/>
      </g>
      <g id='sweat-2'>
        <path d="M408.996,85.616 C407.109,85.616 405.307,86.051 403.717,86.793 C402.148,87.471 400.398,87.895 398.586,87.895 C396.762,87.895 395.024,87.482 393.444,86.793 C391.854,86.051 390.052,85.616 388.164,85.616 C386.299,85.616 384.496,86.051 382.885,86.793 C381.337,87.471 379.599,87.895 377.775,87.895 C375.952,87.895 374.192,87.482 372.633,86.793 C371.043,86.051 369.241,85.616 367.354,85.616 C365.477,85.616 363.675,86.051 362.074,86.793 C360.505,87.471 358.767,87.895 356.954,87.895 C355.13,87.895 353.392,87.482 351.812,86.793 C350.222,86.051 348.441,85.616 346.554,85.616 C344.678,85.616 342.875,86.051 341.275,86.793 C339.706,87.471 337.967,87.895 336.143,87.895 L336.143,95.581 C337.967,95.581 339.706,95.168 341.275,94.479 C342.875,93.737 344.678,93.302 346.554,93.302 C348.441,93.302 350.222,93.737 351.812,94.479 C353.137,95.062 354.611,95.391 356.127,95.497 L349.745,101.857 C347.72,100.596 345.027,100.829 343.268,102.578 L335.953,109.883 C333.928,111.908 333.928,115.205 335.953,117.251 C338.009,119.276 341.296,119.276 343.331,117.251 L350.635,109.946 C352.289,108.293 352.586,105.801 351.547,103.84 L360.336,95.062 C360.94,94.871 361.513,94.733 362.074,94.479 C363.675,93.737 365.477,93.302 367.354,93.302 C369.241,93.302 371.043,93.737 372.633,94.479 C374.192,95.157 375.952,95.581 377.775,95.581 C379.599,95.581 381.337,95.168 382.885,94.479 C384.496,93.737 386.299,93.302 388.164,93.302 C390.052,93.302 391.854,93.737 393.444,94.479 C395.024,95.157 396.762,95.581 398.586,95.581 C400.398,95.581 402.148,95.168 403.717,94.479 C405.307,93.737 407.109,93.302 408.996,93.302 C410.883,93.302 412.664,93.737 414.276,94.479 C415.834,95.157 417.594,95.581 419.407,95.581 L419.407,87.895 C417.594,87.895 415.834,87.482 414.276,86.793 C412.664,86.051 410.883,85.616 408.996,85.616" fill="#FFE600" opacity='0.2'/>
        <path d="M412.548,48.045 L419.852,40.74 C421.909,38.694 421.909,35.397 419.852,33.372 C417.827,31.326 414.519,31.326 412.484,33.372 L405.18,40.677 C403.419,42.437 403.186,45.129 404.469,47.133 L395.373,56.229 L377.319,49.54 C376.842,49.275 376.343,49.041 375.782,48.882 C371.849,47.706 367.693,49.942 366.505,53.876 L360.961,72.47 C360.887,72.693 360.865,72.873 360.844,73.064 L336.164,73.064 L336.164,83.04 C337.511,83.04 338.9,82.733 340.119,82.192 C342.122,81.259 344.359,80.761 346.554,80.761 C348.748,80.761 350.964,81.259 352.936,82.171 C354.24,82.754 355.586,83.04 356.954,83.04 C358.332,83.04 359.678,82.754 360.918,82.192 C362.943,81.259 365.159,80.761 367.354,80.761 C369.569,80.761 371.742,81.238 373.757,82.171 C375.018,82.754 376.407,83.04 377.775,83.04 C379.142,83.04 380.489,82.754 381.75,82.192 C383.754,81.259 385.991,80.761 388.164,80.761 C390.401,80.761 392.553,81.238 394.567,82.171 C395.85,82.754 397.239,83.04 398.585,83.04 C399.953,83.04 401.31,82.754 402.561,82.192 C404.564,81.259 406.802,80.761 408.996,80.761 C409.367,80.761 410.894,80.877 412.378,79.891 C415.028,78.725 416.025,78.057 418.336,76.637 C420.244,75.481 421.824,72.916 417.668,73.053 C416.523,73.096 382.312,73.053 382.312,73.053 L392.786,62.59 L394.196,63.131 C395.977,63.777 397.96,62.866 398.628,61.084 C399.083,59.823 398.723,58.455 397.854,57.544 L406.441,48.935 C408.402,49.974 410.894,49.699 412.548,48.045 M378.549,73.053 L376.322,73.053 L380.796,58.159 L390.03,61.572 L378.549,73.053 z" fill="#FFE600" opacity='0.2'/>
        <path d="M378.475,39.775 L377.521,41.8 C376.906,43.062 375.613,43.931 374.15,43.931 L371.913,43.931 C373.196,45.755 375.305,46.931 377.691,46.931 C381.581,46.931 384.751,43.783 384.751,39.892 L384.751,39.521 L378.804,39.521 C378.666,39.521 378.518,39.627 378.475,39.775" fill="#FFE600" opacity='0.2'/>
        <path d="M374.15,42.15 C374.913,42.15 375.602,41.694 375.91,41.037 L376.843,39.012 C377.192,38.249 377.934,37.729 378.804,37.729 L386.098,37.729 C385.143,33.976 381.73,31.231 377.691,31.231 C372.909,31.231 369.04,35.1 369.04,39.903 C369.04,40.666 369.114,41.44 369.326,42.161 L374.15,42.161 z" fill="#FFE600" opacity='0.2'/>
      </g>
      <g id='sweat-3'>
        <path d="M515.194,44.459 C511.41,44.459 508.346,47.483 508.346,51.209 C508.346,54.941 511.41,57.965 515.194,57.965 C518.958,57.965 522.032,54.941 522.032,51.209 C522.032,47.48 518.958,44.459 515.194,44.459" fill="#E2FB00" opacity='0.2'/>
        <path d="M549.906,57.824 C549.652,56.363 548.451,55.536 548.38,55.483 L508.158,28.963 L504.426,34.383 C503.737,35.454 504.034,36.864 505.094,37.561 C506.165,38.266 507.583,37.974 508.272,36.904 L510.456,33.776 L543.119,55.343 L516.361,60.156 C514.461,60.471 513.096,62.372 513.52,64.224 L519.343,86.742 L500.512,114.994 C499.378,116.915 500.067,119.393 502.007,120.496 C503.979,121.62 506.47,120.93 507.602,119.001 C507.602,119.001 527.246,89.456 527.323,89.273 C527.323,89.273 528.338,93.378 528.338,93.389 L525.383,115.558 C525.009,117.763 526.517,119.828 528.743,120.196 C530.97,120.57 533.082,119.088 533.448,116.894 L536.49,94.096 C536.588,93.516 536.469,92.233 536.345,91.669 L529.621,64.974 L547.092,61.826 C548.976,61.505 550.235,59.698 549.906,57.824" fill="#E2FB00" opacity='0.2'/>
      </g>
      <g id='sweat-4'>
        <path d="M655.07,44.441 C658.937,44.441 662.069,41.293 662.069,37.423 C662.069,33.554 658.937,30.424 655.07,30.424 C651.198,30.424 648.052,33.551 648.052,37.423 C648.052,41.295 651.2,44.441 655.07,44.441" fill="#B0FA00" opacity='0.2'/>
        <path d="M643.229,45.599 C643.495,44.523 642.816,43.447 641.753,43.177 L635.925,41.769 C634.823,41.52 633.741,42.162 633.497,43.24 L628.589,63.553 C628.319,64.629 628.976,65.705 630.06,65.975 L635.925,67.382 C636.975,67.653 638.077,66.99 638.321,65.911 L643.229,45.599 z" fill="#B0FA00" opacity='0.2'/>
        <path d="M670.18,117.836 C670.18,117.879 670.158,117.918 670.158,117.94 C670.158,118.83 670.877,119.554 671.767,119.554 C672.586,119.554 673.262,118.934 673.368,118.146 L685.13,54.352 L685.13,54.228 C685.13,53.359 684.425,52.632 683.535,52.632 C682.732,52.632 682.106,53.253 681.934,54.04 L670.18,117.836 z" fill="#B0FA00" opacity='0.2'/>
        <path d="M631.052,113.655 C630.991,113.987 630.97,114.329 630.97,114.649 C630.97,117.382 633.165,119.576 635.897,119.576 C638.134,119.576 640.024,118.087 640.612,116.057 L649.085,81 L657.161,115.847 C657.683,117.999 659.62,119.574 661.924,119.574 C664.656,119.574 666.851,117.379 666.851,114.647 C666.851,114.273 666.808,113.923 666.747,113.571 L655.664,67.272 L656.602,63.193 L657.331,66.402 C657.988,68.493 659.899,68.7 659.899,68.7 L671.303,71.6 C671.526,71.642 671.759,71.661 671.982,71.661 C673.85,71.661 675.366,70.171 675.366,68.305 C675.366,66.71 674.264,65.366 672.777,65.014 L662.894,62.527 L660.182,51.513 C658.9,45.364 653.013,45.507 653.013,45.507 C647.304,45.361 645.87,51.367 645.87,51.367 L631.052,113.655 z" fill="#B0FA00" opacity='0.2'/>
      </g>
      <g id='sweat-5'>
        <path d="M846.878,104.684 C845.055,104.684 843.316,104.27 841.768,103.565 C840.168,102.842 838.363,102.405 836.489,102.405 C834.599,102.405 832.797,102.839 831.199,103.565 C829.651,104.27 827.912,104.684 826.089,104.684 C824.266,104.684 822.527,104.27 820.979,103.565 C819.354,102.842 817.552,102.405 815.7,102.405 C813.81,102.405 812.008,102.839 810.42,103.565 C808.862,104.27 807.102,104.684 805.3,104.684 C803.474,104.684 801.738,104.27 800.163,103.565 C798.562,102.842 796.763,102.405 794.91,102.405 C793.021,102.405 791.218,102.839 789.631,103.565 C788.072,104.27 786.312,104.684 784.486,104.684 C782.684,104.684 780.924,104.27 779.377,103.565 C777.776,102.842 775.976,102.405 774.097,102.405 C772.234,102.405 770.432,102.839 768.844,103.565 C767.259,104.27 765.526,104.684 763.7,104.684 L763.7,97.003 C765.526,97.003 767.262,96.59 768.844,95.906 C770.434,95.161 772.234,94.727 774.097,94.727 C775.976,94.727 777.778,95.161 779.377,95.906 C780.924,96.59 782.684,97.003 784.486,97.003 C786.312,97.003 788.075,96.59 789.631,95.906 C791.221,95.161 793.021,94.727 794.91,94.727 C796.763,94.727 798.565,95.161 800.163,95.906 C801.738,96.59 803.471,97.003 805.3,97.003 C807.102,97.003 808.862,96.59 810.42,95.906 C812.01,95.161 813.81,94.727 815.7,94.727 C817.552,94.727 819.354,95.161 820.979,95.906 C822.527,96.59 824.266,97.003 826.089,97.003 C827.912,97.003 829.651,96.59 831.199,95.906 C832.8,95.161 834.599,94.727 836.489,94.727 C838.363,94.727 840.17,95.161 841.768,95.906 C843.316,96.59 845.055,97.003 846.878,97.003 L846.878,104.684 z" fill="#00F939" opacity='0.2'/>
        <path d="M834.827,82.976 C840.298,82.976 844.729,78.524 844.729,73.059 C844.729,67.594 840.298,63.162 834.827,63.162 C829.357,63.162 824.926,67.594 824.926,73.059 C824.926,78.524 828.962,82.976 834.827,82.976" fill="#00F939" opacity='0.2'/>
        <path d="M777.203,88.549 C777.969,88.734 778.698,89.004 779.377,89.315 C780.935,90.02 782.695,90.433 784.497,90.433 C786.31,90.433 788.07,90.02 789.628,89.315 C791.224,88.591 793.023,88.135 794.908,88.135 C796.776,88.135 798.578,88.591 800.166,89.315 C801.735,90.02 803.484,90.433 805.297,90.433 C807.099,90.433 808.859,90.02 810.418,89.315 C812.013,88.591 813.813,88.135 815.697,88.135 C817.565,88.135 819.368,88.591 820.977,89.315 C822.524,90.02 824.263,90.433 826.086,90.433 C827.412,90.433 828.694,90.205 829.906,89.831 L813.396,60.036 L832.596,56.538 C835.408,56 837.462,53.784 837.462,50.948 C837.462,47.821 834.904,45.316 831.798,45.316 C831.575,45.316 831.363,45.316 831.162,45.337 L801.51,50.741 C799.424,51.218 796.665,54.261 798.234,58.009 C798.321,58.215 798.403,58.401 798.488,58.61 L806.233,72.586 L777.203,88.549 z" fill="#00F939" opacity='0.2'/>
      </g>
    </g>
  </svg>

  <div id='sweat-info' style="margin-top: -12px">
    <h2 id='sweat-count' style="margin-left: 5%; float:left"><%= @presenter.sweats_this_week_count %></h2>
    <h3 id='sweat-percentage' style="margin-left: 2%; float:left"><%= number_to_percentage(@presenter.sweats_this_week_percentage_to_goal * 100, precision: 0) %></h3>
    <h3 id='sweat-time' style="margin-left: 2%; float:left"><%= @presenter.most_recent_sweat_time %></h3>
  </div>
</div>

<script>

  $('#Layer_1').on('click', function() {
    fillGlass();
  });

  $('#svg2').on('click', function() {
    fillTomato();
  });

  $('#sweats').on('click', function() {
    fillSweats();
  });

  var oneSixth = 0.166
  var glassOffset      = 1 - <%= @presenter.drinks_today_percentage_to_goal     %>
  var glassCount       =     <%= @presenter.drinks_today_count                  %>
  var glassPercentage  =     <%= @presenter.drinks_today_percentage_to_goal     %>
  var veggieOffset     =     <%= @presenter.veggies_today_percentage_to_goal    %>
  var veggieCount      =     <%= @presenter.veggies_today_count                 %>
  var veggiePercentage =     <%= @presenter.veggies_today_percentage_to_goal    %>
  var sweatOffset      =     <%= @presenter.sweats_this_week_percentage_to_goal %>
  var sweatCount       =     <%= @presenter.sweats_this_week_count              %>
  var sweatPercentage  =     <%= @presenter.sweats_this_week_percentage_to_goal %>

  function fillGlass() {
    glassOffset          -= oneSixth;
    glassPercentage += oneSixth
    glassCount      += 1;

    postDrink(glassOffset, glassCount, glassPercentage);
  };

  function postDrink(offset, glassCount, glassPercentage) {
    var user_id = <%= @user.id %>
    $.ajax({
      url: "/punches",
      type: "POST",
      data: { punch: {
        punch_type: "water",
        user_id: user_id
      },
      success: updateDrinkElements(offset, glassCount, glassPercentage)
    }
    });
  };

  function updateDrinkElements(offset, glassCount, glassPercentage, timeString) {
    $('#moving-line').attr('offset', offset);
    $('#drink-count').text(glassCount);
    $('#drink-percentage').text(Math.round(glassPercentage * 100) + "%");
    $('#drink-time').text(grabTimeString());
  };

  function updateDrinkElements(offset, glassCount, glassPercentage, timeString) {
    $('#moving-line').attr('offset', offset);
    $('#drink-count').text(glassCount);
    $('#drink-percentage').text(Math.round(glassPercentage * 100) + "%");
    $('#drink-time').text(grabTimeString());
  };

  function fillTomato() {
    veggieOffset     += oneSixth;
    veggiePercentage += oneSixth
    veggieCount      += 1;

    postVeggie(veggieOffset, veggieCount, veggiePercentage);
  };

  function postVeggie(offset, veggieCount, veggiePercentage) {
    var user_id = <%= @user.id %>
    $.ajax({
      url: "/punches",
      type: "POST",
      data: { punch: {
        punch_type: "veggie",
        user_id: user_id
      },
      success: updateVeggieElements(offset, veggieCount, veggiePercentage)
    }
    });
  };

  function updateVeggieElements(offset, veggieCount, veggiePercentage, timeString) {
    $('.tomato').attr('opacity', offset);
    $('#veggie-count').text(veggieCount);
    $('#veggie-percentage').text(Math.round(veggiePercentage * 100) + "%");
    $('#veggie-time').text(grabTimeString());
  };

  function fillSweats() {
    sweatOffset     += oneSixth;
    sweatPercentage += oneSixth
    sweatCount      += 1;

    postSweat(sweatOffset, sweatCount, sweatPercentage);
  };

  function postSweat(offset, sweatCount, sweatPercentage) {
    var user_id = <%= @user.id %>
    $.ajax({
      url: "/punches",
      type: "POST",
      data: { punch: {
        punch_type: "sweat",
        user_id: user_id
      },
      success: updateSweatElements(offset, sweatCount, sweatPercentage)
    }
    });
  };

  function updateSweatElements(offset, sweatCount, sweatPercentage, timeString) {
    for(i = 0; i < sweatCount; i++){
      var id = "#sweat-" + i.toString();
      $(id).children().attr('opacity', 1);
    };
    $('#sweat-count').text(sweatCount);
    $('#sweat-percentage').text(Math.round(sweatPercentage * 100) + "%");
    $('#sweat-time').text(grabTimeString());
  };

  function grabTimeString() {
    var time       = new Date().toString();
    var datePieces = time.split(' ');
    var timePieces = datePieces[4].split(':');
    var hour       = parseInt(timePieces[0]) <= 12 ? timePieces[0] : parseInt(timePieces[0]) - 12;
    var hour       = hour == 0 ? 12 : hour;
    var suffix     = parseInt(timePieces[0]) <= 12 ? ' AM' : ' PM';
    var timeString = datePieces[1] + ' ' + datePieces[2] + ', ' + hour + ":" + timePieces[1] + suffix;

    return timeString;
  };

  $(document).ready( function() {
    for(i = 0; i < <%= @presenter.sweats_this_week_count %>; i++){
      var id = "#sweat-" + i.toString();
      $(id).children().attr('opacity', 1);
    };
  });

</script>
